<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="CSharpGuidelineAnalyzer" version="3.1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Azure.CognitiveServices.FormRecognizer" version="0.8.0-preview" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.1.0" targetFramework="net462" />
  <package id="Microsoft.Azure.Storage.Common" version="11.1.0" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net462" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Relativity.Agent" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Api" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.EventHandler" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Other" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="10.3.191.8" targetFramework="net462" />
</packages>